*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: lato;
}
.container{
    width:1140px;
    margin: 0px auto;
}
header .top{
    width: 100%;
    float: left;
  background: #f6f9f9;
}

header .top .toptext{
   width: 70%;
    float: left;
}
nav ul{
   margin: 30px 0px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 30px;
    font-size: 26px;
    cursor: pointer;
}
 header .top .logo{
     width: 30%;
     padding: 24px 0px;
     float: left;
                    
}
.banner{
    width: 100%;
    float: left;
    background: url(img/banner.jpg) no-repeat fixed;
    background-size: cover;
}
.banner .bannerText{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding-top: 120px;
}
.banner .bannerText h2{
    font-size: 120px;
    font-family: lato-bold;
    color: white;
    padding: ;
    text-align: center;
    
}
 .banner .bannerText p{
    color: white;
     font-size:20px;
     margin-bottom: 40px;
     font-family: lato , sans-serif;
}

.banner .bannerText span{
    border-bottom: 3px solid #15a4fa;
    width: 100%;
    display: block;
    margin: 18px auto;
}
.banner .bannerText button{
    background: transparent;
    padding: 10px 20px;
    border: 2px solid #15a4fa;
    color: white;
}
.banner-icon {
    margin-top: 80px;
    color: white;
    margin-bottom: 30px;
}
.fa.fa-angle-down{
    
}

/*Simple and pure design part*/
.design{
    width: 100%;
    float: left;
    background: #f6f9f9;
}
.design .design-content{
    width: 70%;
    margin: 0px auto;
}
.design-content h3{
    text-align: center;
    padding-top: 60px;
    padding-bottom:20px;
    color: #2d3950;
    font-size: 23px;
    font-weight: 100;
}
.design-content p{
    text-align: justify;
    text-align-last: center;
    padding-bottom: 80px;
    color:#a0a0a0;
    font-size:16px;
    line-height: 25px;
    font-weight: normal;
}

/*Features section*/
.featurediv{
    padding-top: 35px;
    
}
.features{
    width: 100%;
    float: left;
    background: #fff;
}
.feauture{
    width: 25%;
    display: inline-block;
    float: left;
    margin-left: 5%;
    
}
.feauture  h4{
     text-align: center;
    padding-top: 20px;
    padding-bottom:10px;
    color: #2d3950;
    font-size: 18px;
    font-weight: 100;
}
.feauture img{
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
}
.feauture p{
    text-align: justify;
    text-align-last: center;
    padding-bottom: 80px;
    color:#a0a0a0;
    font-size:16px;
    line-height: 20px;
    font-size: 14px;
}
.features .respond{
    
}

.features .clean{
    
}

/*Portfolio Section*/
.portfolio{
    background: #f6f9f9;
   
    
}

.portfolios{
    width: 100%;
    float: left;
    margin-left: 100px;
    
}
.portfolios p{
     text-align: justify;
    text-align-last: center;
    padding-bottom: 80px;
    color:#a0a0a0;
    font-size:16px;
    line-height: 20px;
    font-size: 14px;
}
.portfolios h4{
     text-align: center;
    padding-top: 20px;
    padding-bottom:10px;
    color: #2d3950;
    font-size: 18px;
    font-weight: 100;
}
.job{
    width: 24%;
    float: left;
    margin-bottom: 20px;
    margin-right:
    
}
.jobpart{
    margin: 0px auto;
}
.A{
    margin-left: 45px;
}
.D{
    margin-left: 50px;
}
.job img{
    width: 250px;
    height: 200px;
}
